h1,h2,h3 {
	color: $accent-color;
}

p.continue{
	display: inline;
}

.enfasis{
	color: $accent-color;
	font-size: large;
}

.oj-web-applayout-header {
    background-color: $brand-color;
    box-shadow: 0 8px 16px 0 rgba($brand-color, 0.2);
}
.oj-web-applayout-header-title {
    color: $base-letter-color;
}
.oj-web-applayout-footer {
    min-height:0;
}
header {
    span {
        color: $base-letter-color;
    }
    .oj-hover {
        background-color:transparent !important;
    }
}

.oj-tabbar-item {
    padding-bottom: 10px;
}

.oj-listview-element {
    .oj-selected {
        border-left: 6px solid $accent-color;
    }
}