<div id="create-new-ticket" class="oj-sm-padding-4x">
    <div class="oj-sm-padding-4x">
        <h2>Create a new ticket</h2>
        <oj-label for="title" class="oj-sm-padding-2x-top">Title:</oj-label>
        <oj-input-text id="title" value="{{newTicketTitle}}"></oj-input-text>
        
        <oj-label for="pirority" class="oj-sm-padding-2x-top">Priority:</oj-label>
        <oj-select-one id="pirority" value="{{newTicketPriority}}">
            <oj-option value="1">1 - Blocker</oj-option>
            <oj-option value="2">2 - Critical</oj-option>
            <oj-option value="3">3 - High</oj-option>
            <oj-option value="4">4 - Medium</oj-option>
            <oj-option value="5">5 - Low</oj-option>
        </oj-select-one>
      	
      	<oj-label for="new-ticket-area" class="oj-sm-padding-2x-top">Issue Summary:</oj-label>
        <div id="new-ticket-area"></div>
	</div>
</div>