<div class="oj-flex">

  <!-- Left Column Start-->
  <div class="oj-sm-3 left-column-container">
    
    <!-- Search functionality -->  
    <inline-search
      id="search-component"
      data="{{ticketList}}"
      on-data-changed="[[updateDataSource]]"
      models="[[persistentModels]]"
      filter-attribute='[[filterAttribute]]'>
    </inline-search>
    <!-- Search functionality -->

    <div id="mainList" class="oj-flex">
      <oj-list-view id="listView" 
                    class="oj-sm-12 list-view-container"
                    data="[[ticketsDataProvider]]"
                    selection="{{selectedTicket}}"
                    on-selection-changed="[[listSelectionChanged]]"
                    selection-mode="single"
                    selection-required="true">
        <template slot="itemTemplate" 
                  data-oj-as="ticket">
          <li>
            <oj-list-item-layout>
              <div class="oj-flex">
                <div class="oj-sm-9">
                  [<oj-bind-text value="[[ticket.data.id]]"></oj-bind-text>]: 
                    <p class="continue enfasis"><oj-bind-text value="[[ticket.data.title]]"></oj-bind-text></p><br>
                  Author: <oj-bind-text value="[[ticket.data.author]]"></oj-bind-text>  <br><br>
                  Status: <oj-bind-text value="[[ticket.data.status]]"></oj-bind-text>  
                </div>
                <div class="oj-sm-3 oj-sm-padding-2x-top oj-sm-padding-2x-bottom">
                  Created: <oj-bind-text value="[[formatDate(ticket.data.dateCreated)]]"></oj-bind-text>  <br><br>
                  Priority: <oj-bind-text value="[[ticket.data.priority]]"></oj-bind-text>  <br><br>
                </div>
              </div>
            </oj-list-item-layout>
          </li>
        </template>
      </oj-list-view>  
    </div>
  </div>
  <!-- Left Column End-->
  
  <!-- Right Column Start-->
  <div class="oj-sm-9">
      <!-- Tab Bar Start -->
      <div class="oj-flex oj-sm-padding-2x-top">
        <div id="tabbar">
         <oj-tab-bar
          contextmenu="tabmenu"
          id="ticket-tab-bar"
          selection="{{selectedBarItem}}"
          edge="top"
          data="[[tabBarDataSource]]"
          on-oj-remove="[[onTabRemove]]"
          item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('tab-template', true)]]"
          class="oj-sm-12 oj-sm-condense oj-tabbar-item-dividers">
            <oj-menu slot="contextMenu" style="display:none" aria-label="Actions">
              <oj-option data-oj-command="oj-tabbar-remove">Removable</oj-option>
            </oj-menu>
         </oj-tab-bar>
        </div>
      </div>
      <!-- ITEM TEMPLATE -->
      <script type="text/html" id="tab-template">
        <li class="oj-removable" data-bind="css:{'oj-disabled' : $data['disabled']=='true'}">
           <a href="#">
                <oj-bind-text value="[[name]]"></oj-bind-text>
            </a>
        </li>
      </script>
      <!-- Tab Bar End -->

      <!-- Selected Ticket View -->
      <div class="oj-flex">
        <div class="oj-sm-9 view-ticket-container">
          <div data-bind="ojModule: {
                            name: 'view-ticket',
                            params: {
                              ticketModel: selectedTicketModel,
                              closeTicketSignal: closeTicketSignal, 
                              updatePrioritySignal: updatePrioritySignal
                            }
                          }"
              class="oj-sm-padding-4x">
          </div>
        </div>
        <div class="oj-sm-3 support-rep-container">
          <div  data-bind="ojModule: {
                            name: 'view-representative',
                            params: {repId: selectedTicketRepId()}
                          }" 
                class="oj-sm-padding-4x">
          </div>
        </div>
      </div>
      <!-- Selected Ticket View -->


  </div>
  <!-- Right Column End -->

</div>